# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
ENV/

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# SQLite database (optional – remove if you want to push it)
*.db
